/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
/.idea/libraries/Leiningen__clojure_complete_0_2_5.xml
/.idea/libraries/Leiningen__nrepl_0_6_0.xml
/.idea/libraries/Leiningen__org_clojure_clojure_1_11_1.xml
/.idea/libraries/Leiningen__org_clojure_core_specs_alpha_0_2_62.xml
/.idea/libraries/Leiningen__org_clojure_spec_alpha_0_3_218.xml
/.idea/.gitignore
/.idea/ClojureProjectResolveSettings.xml
/.idea/compiler.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/aoc-2022.iml
